<hr>

<table bgcolor="black
">
    <thead>
        <caption><h2>What sport do you play?</h2></caption>
        
            <tr bgcolor="white">
                <th width="100"><big>Sport</big></th>
                <th width="100"><big>People</big></th>
            </tr>
        </thead>
        <tbody>
            <tr align="center" bgcolor="red">
                <td>Soccer</td>
                <td>106</td>
            </tr>

            <tr align="center" bgcolor="red">
                <td>Tennis</td>
                <td>45</td>
            </tr>
        
            <tr align="center" bgcolor="red">
                <td>Gymnastics</td>
                <td>54</td>
            </tr>
        
            <tr align="center" bgcolor="red">
                <td>Swimming</td>
                <td>82</td>
            </tr align="center">
        
            <tr align="center" bgcolor="red">
                <td>Track</td>
                <td>68</td>
            </tr>
        </tbody>
    
</table>
<hr>